@model TblKategori
@{
    ViewData["Title"] = "KategoriForm";
}

<div class="col-md-4">
    <div class="card mb-4">
        <h5 class="card-header">Kategori Formu</h5>
        <div class="card-body">
            <form asp-action="KategoriForm" method="post">
                <div class="mb-3 d-flex">
                    <div class="col-lg-8 me-2">
                        <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Kategori Adı" aria-describedby="defaultFormControlHelp" asp-for="Kategori" />
                    </div>
                    <button type="submit" class="btn text-white mb-2 col-lg-4 btn-primary">Ekle</button>
                   </div>
               
            </form>
        </div>
    </div>
</div>

