@model List<TblKategori>
@{
    ViewData["Title"] = "Kategori";
}

<div class="card">
    <div class="d-flex justify-content-between">
        <h5 class="card-header">Kategoriler</h5>
      
    </div>


    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>KATEGORİ</th>

                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Kategori</td>
                       
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Urun/KategoriForm/@item.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="/Urun/KSil/@item.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>
</div>

